<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <h1>Header</h1>
    </div>
    <div style="background-color:lightblue">
        <a href="/Home/Index">Index</a>
        <a href="/Home/About">About</a>
        <a href="/Home/Contact">Contact</a>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        <p>Footer</p>
    </div>
</body>
</html>
